<app-partials></app-partials>

<div class="content-page">
    <!-- Start content -->
  <div class="content">
    <app-header></app-header>
    <div class="container">


<div class="row text-center">

  <div class="col-lg-2 col-md-4 col-sm-6">
    <div class="card-box widget-box-one">
      <div class="wigdet-one-content">
        <p class="m-0 text-uppercase font-600 font-secondary text-overflow">Statistics</p>
        <h2 class="text-danger"><span data-plugin="counterup">34578</span></h2>
        <p class="text-muted m-0"><b>Last:</b> 30.4k</p>
      </div>
    </div>
  </div><!-- end col -->

  <div class="col-lg-2 col-md-4 col-sm-6">
    <div class="card-box widget-box-one">
      <div class="wigdet-one-content">
        <p class="m-0 text-uppercase font-600 font-secondary text-overflow">User Today</p>
        <h2 class="text-dark"><span data-plugin="counterup">895</span> </h2>
        <p class="text-muted m-0"><b>Last:</b> 1250</p>
      </div>
    </div>
  </div><!-- end col -->

  <div class="col-lg-2 col-md-4 col-sm-6">
    <div class="card-box widget-box-one">
      <div class="wigdet-one-content">
        <p class="m-0 text-uppercase font-600 font-secondary text-overflow">User This Month</p>
        <h2 class="text-success"><span data-plugin="counterup">52410</span></h2>
        <p class="text-muted m-0"><b>Last:</b> 40.33k</p>
      </div>
    </div>
  </div><!-- end col -->

  <div class="col-lg-2 col-md-4 col-sm-6">
    <div class="card-box widget-box-one">
      <div class="wigdet-one-content">
        <p class="m-0 text-uppercase font-600 font-secondary text-overflow">Request Per Minute</p>
        <h2 class="text-warning"><span data-plugin="counterup">652</span> </h2>
        <p class="text-muted m-0"><b>Last:</b> 956</p>
      </div>
    </div>
  </div><!-- end col -->

  <div class="col-lg-2 col-md-4 col-sm-6">
    <div class="card-box widget-box-one">
      <div class="wigdet-one-content">
        <p class="m-0 text-uppercase font-600 font-secondary text-overflow">Total Users</p>
        <h2 class="text-primary"><span data-plugin="counterup">3245</span> </h2>
        <p class="text-muted m-0"><b>Last:</b> 20k</p>
      </div>
    </div>
  </div><!-- end col -->

  <div class="col-lg-2 col-md-4 col-sm-6">
    <div class="card-box widget-box-one">
      <div class="wigdet-one-content">
        <p class="m-0 text-uppercase font-600 font-secondary text-overflow">New Downloads</p>
        <h2 class="text-danger"><span data-plugin="counterup">78541</span> </h2>
        <p class="text-muted m-0"><b>Last:</b> 50k</p>
      </div>
    </div>
  </div><!-- end col -->

</div>
<!-- end row -->

<div class="row">
  <div class="col-lg-4">
    <div class="card-box">

      <h4 class="header-title m-t-0 ">Daily Sales</h4>

      <div class="widget-chart text-center">
        <div id="morris-donut-example"style="height: 245px;"></div>
        <ul class="list-inline chart-detail-list m-b-0">
          <li>
            <h5 class=""><i class="fa fa-circle m-r-5"></i>Series A</h5>
          </li>
          <li>
            <h5 class=""><i class="fa fa-circle m-r-5"></i>Series B</h5>
          </li>
        </ul>
      </div>
    </div>
  </div><!-- end col -->


  <div class="col-lg-4">
    <div class="card-box ">

      <h4 class="header-title m-t-0 ">Statistics</h4>
      <div id="morris-bar-example" style="height: 280px;"></div>
    </div>
  </div><!-- end col -->

  <div class="col-lg-4">
    <div class="card-box ">

      <h4 class="header-title m-t-0 ">Total Revenue</h4>
      <div id="morris-line-example" style="height: 280px;"></div>
    </div>
  </div><!-- end col -->

</div>
<!-- end row -->


</div>
  </div>
</div>

<app-footer></app-footer>
